@model DevIO.App.ViewModels.FornecedorViewModel
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Novo Fornecedor";
}

<p>

</p>

@section Styles
{
    <style type="text/css">
        a:not([href]):not([tabindex]) {
            color: #fff;
            cursor: pointer;
        }
    </style>
}

<div class="container">
    <partial name="_PartialMensagens" />
</div>

<div class="container-fluid">
    <div class="row">

        <div class="col-lg-6">
            <div class="card ribbon-box">
                <div class="card-body">
                    <div class="ribbon ribbon-primary float-left"><i class="mdi mdi-access-point mr-1"></i> Cadastro Fornecedor</div>
                    <h5 class="text-primary float-right mt-0"></h5>
                    <div class="ribbon-content">

                        <form asp-action="Create">

                            <div class="form-group">
                                <label asp-for="Nome" class="control-label"></label>
                                <input asp-for="Nome" maxlength="100" class="form-control" />
                                <span asp-validation-for="Nome" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Documento" class="control-label"></label>
                                <input asp-for="Documento" maxlength="14" class="form-control" />
                                <span asp-validation-for="Documento" class="text-danger"></span>
                            </div>


                            <div class="form-group mt-3">
                                <label asp-for="TipoFornecedor" class="control-label"></label><br />
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio1" value="1" name="TipoFornecedor" class="custom-control-input" asp-for="TipoFornecedor" checked>
                                    <label class="custom-control-label" for="customRadio1">Pessoa Física</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio2" value="2" name="TipoFornecedor" class="custom-control-input" asp-for="TipoFornecedor">
                                    <label class="custom-control-label" for="customRadio2">Pessoa Júridica</label>
                                </div>
                            </div>


                            <div class="form-group">

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" asp-for="Ativo" class="custom-control-input" id="customCheck2">
                                    <label class="custom-control-label" for="customCheck2"> @Html.DisplayNameFor(model => model.Ativo)</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Salvar" class="btn btn-primary" />
                                <a class="btn btn-info" asp-action="Index">Voltar</a>
                            </div>
                        </form>

                    </div>
                </div> <!-- end card-body -->
            </div> <!-- end card-->
        </div> <!-- end col -->
    </div>

</div>

<!--lista com os endereços-->

@{


    if (HttpContextAccessor.HttpContext.Session.GetString("IdFornecedorGerado") != "0")
    {
        <partial name="_DetalhesEndereco" />
        <partial name="_ModalExclusao" />
        <partial name="_ModalCadastroEndereco" />
    }


}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/fornecedor.js"></script>
}
