


<div id="modal-excluir" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="fill-danger-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-filled bg-danger">
            <div class="modal-header">
                <h4 class="modal-title" id="fill-danger-modalLabel">Confirmar Exclusão</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <p>Deseja prosseguir com exclusão de <b class="nome"></b>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-light btn-Confirmar">Excluir</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">Não</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->