<div class="topnav shadow-sm">
    <div class="container-fluid">
        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

            <div class="collapse navbar-collapse" id="topnav-menu-content">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-dashboards" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="uil-dashboard mr-1"></i>Dashboards <div class="arrow-down"></div>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-apps" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="uil-apps mr-1"></i>Cadastros <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-apps">
                            <a asp-controller="Fornecedores" asp-action="Index" class="dropdown-item">Cadastro de Fornecedor</a>
                            <a asp-controller="Clientes" asp-action="Index" class="dropdown-item">Cadastro de Cliente</a>
                            <a asp-controller="Produtos" asp-action="Index" class="dropdown-item">Cadastro de Produto</a>
                        </div>
                    </li>
            

                </ul>
            </div>
        </nav>
    </div>
</div>